rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /LOAI_RAC/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /DICH_VU_GIA_BIEU/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /GOI_THU_GOM/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /NGUOI_DUNG/{documentId} {
      allow read, create, update: if signedIn();
      allow delete: if false;
    }

    match /DANG_KY_GOI/{documentId} {
      allow read, create, update: if signedIn();
      allow delete: if false;
    }

    match /THONG_BAO/{documentId} {
      allow read, create, update: if signedIn();
      allow delete: if false;
    }

    match /THANH_TOAN/{documentId} {
      allow read: if signedIn();
      allow write: if false;
    }

    match /HOA_DON/{documentId} {
      allow read: if signedIn();
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}